---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Oriana Olaia";

const identity = {
  firstName: "Oriana",
  country: "Mendoza, Argentina",
  occupation: "Streamer, Freelancer",
  hobbies: ["content creator", "videogames", "volleyball"],
};

const skills = ["React", "Astro", "Python", "MySQL", "Canva"];
const frameworks = ["NextJS","Bootstrap"];
const codestudio = ["Spyder", "Visual Studio Code", "Oracle", "SublimeText", "Android Studio"];
const utilites = ["Canva", "Filmora", "Notion", "Trello"];

---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>

  </head>
  <BaseLayout>
    <p>He aquí algunos datos sobre mí:</p>
    <ul>
    <li>Me llamo {identity.firstName}.</li>
    <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
    {identity.hobbies.length >= 2 &&
        <li>Dos de mis aficiones son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
    }
    </ul>
    <div class="habilidades">
      <p>Mis habilidades son:</p>
      <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
      </ul>
      <p>Frameworks:</p>
      <ul>
        {frameworks.map((frame) => <li class="frame">{frame}</li>)}
      </ul>
    </div>
    <div class="herramientas">
      <p>Herramientas que uso:</p>
      <ul>
        {utilites.map((utilit) => <li class="utilit">{utilit}</li>)}
      
        {codestudio.map((code)=> <li class="code">{code}</li>)}
      </ul>
    </div>
</BaseLayout>
</html>